.link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}
.link a{
    color: black;
}
.port{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}
.image img{
    height: 500px;
    width: 800px;

}
.content h1{
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    margin-right: 85px;
}
.content h3{
    background-color: rgb(45, 33, 134);
    padding: 0px 5px 10px 40px;
    border-radius: 5px;
    width: 300px;
}
.content h3 span{
    font-size: 20px;
    font-weight: 1000;
    margin-left: 8px;
}
.content h3 strong{
    font-size: 30px;
    font-family:cursive;
    font-weight: 1400;
}